<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apresentação do Lançamento André Guimarães</title>
    <link rel="stylesheet" href="../static/Css/estilo.css">
</head>
<body>
        <header>
            <h1>LANÇAMENTO ANDRÉ GUIMARÃES</h1>
        </header>



        <div class="Galeria">
             <button type="button">
                <a href="../static/Docs/jaguaribe.pdf" target="_blank" rel="external">CLIQUE AQUI !!!</a>
             </button>
         </div>
            
        
</body>
</html>